{% extends 'base.html' %}
{% load static %}

{% block index %}
    <!-- карусель -->
    {% include 'carusel.html' %}
    <!-- Карточки -->
    {% include 'price.html' %}
    <!-- форма -->
    <section>
        <div class="container class_form">
            <h1 class="text-3">Arizangizni qoldiring va biz siz bilan bo'g'lanamiz</h1>
            <div class="row justify-content-center">
                <form action="{% url 'thanks_page' %}" method="post" style="width: 50%;">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Ism</label><br>
                            {{ form.name }}
                        <div class="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Telefon</label><br>
                        {{ form.phone }}
                        <div class="">
                        </div>
                    </div>
                    <div style="float: right;" class="form-group row">
                        <button type="submit" class="btn btn-success">Arizani qoldirish</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}